<div>
    <h2 id="page-heading">
        <span jhiTranslate="volunteerApp.ong.home.title">Ongs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ong" [routerLink]="['/ong/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="volunteerApp.ong.home.createLabel">
            Create a new Ong
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ongs?.length === 0">
        <span jhiTranslate="volunteerApp.ong.home.notFound">No ongs found</span>
    </div>
    <div class="table-responsive" *ngIf="ongs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="volunteerApp.ong.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="volunteerApp.ong.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idno"><span jhiTranslate="volunteerApp.ong.idno">Idno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="volunteerApp.ong.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="address"><span jhiTranslate="volunteerApp.ong.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phone"><span jhiTranslate="volunteerApp.ong.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ong of ongs ;trackBy: trackId">
                <td><a [routerLink]="['/ong', ong.id, 'view' ]">{{ong.id}}</a></td>
                <td>{{ong.name}}</td>
                <td>{{ong.description}}</td>
                <td>{{ong.idno}}</td>
                <td>{{ong.email}}</td>
                <td>{{ong.address}}</td>
                <td>{{ong.phone}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ong', ong.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ong', ong.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ong', { outlets: { popup: ong.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="ongs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
